{{!-- <!DOCTYPE html>
<html>
<head>
    <title>{{pageTitle}}</title>
    <!-- <link rel="stylesheet" href="public/css/style.css"> -->
</head>
<body>
 
    <header>
        {{> header}} 

    <main>
        {{{body}}} 
    </main>

    <footer>{{>footer}}

    </footer>
    

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Handlebars.js library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
    {{#if logged_in}}
    <script src="./js/logout.js" async></script>
    {{/if}}
</body>



</html> --}}

<!DOCTYPE html>
<html>
<head>
    <title>{{pageTitle}}</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* Custom CSS to initially hide the footer */
        .fixed-bottom-hidden {
            display: none;
        }
    </style>
</head>
<body>
    <header>
        {{> header}}
    </header>

    <main class="container">
        {{{body}}}
    </main>

    <!-- Bootstrap footer with fixed positioning, initially hidden -->
    <footer class="footer bg-primary text-center py-3 fixed-bottom text-white fixed-bottom-hidden">
        <div class="container">
            <p>&copy; {{getCurrentYear}} Our Pet Adoption App, Created by Dev, Thiago, Marcelo, and Martin with a lot of googling and caffeine!</p>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Handlebars.js library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
    {{#if logged_in}}
    <script src="./js/logout.js" async></script>
    {{/if}}

    <script>
        // JavaScript to show the footer when scrolling to the bottom
        $(window).scroll(function() {
            if ($(window).scrollTop() + $(window).height() == $(document).height()) {
                $('.fixed-bottom-hidden').show(); // Show the footer
            } else {
                $('.fixed-bottom-hidden').hide(); // Hide the footer
            }
        });
    </script>
</body>
</html>
