<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="public/css/style.css"> 
</head>
<body>
    <header>
        {{> header}} 
    </header>

    <main style="text-align: center;">
        <h1>Welcome to Our Pet Adoption Center!</h1>
        <p>Find your new furry friend today.</p>
        
        <!-- PLACE HOLDER
        {{#each pets}}
        <div class="pet-card">
            <img src="{{image}}" alt="{{name}}">
            <h2>{{name}}</h2>
            <p>Age: {{age}} years</p>
            <p>Breed: {{breed}}</p>
            <button class="adopt-button">Adopt Me</button>
        </div>
            -->

        {{/each}}
    </main>

    <footer>
        {{> footer}} 
    </footer>
</body>
</html>
