<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pets available</title>
    <link rel="stylesheet" href="public/css/style.css">
</head>

<body>
    <div class="container">
        <h1>{{petData.pet_name}}</h1>
        <div class="row">
            <div class="col-md-6">
                <p>Species: {{petData.category.category_name}}</p>
                <p>Breed: {{petData.breed}}</p>
                <P>Adoption Centre: {{petData.center_name}}</P>
                <p>Age: {{petData.age}}</p>
            </div>
            <div class="col-md-6">
                <img src="{{petData.image}}" alt="{{petData.name}}" class="img-fluid expand-on-hover" style="max-height: 500px;">
            </div>
        </div>
    </div>
</body>
