<body class="pb-5 mb-5">
    <div class="container">
        <div class="row justify-content-center align-items-center" style="height: 100vh;">
            <div class="col-md-8">
                <div class="card border border-primary" style="height: 500px;">
                    <div class="card-header bg-primary text-white">
                        <h3 class="card-title mb-4">{{petData.pet_name}}</h3>
                    </div>
                    <div class="card-body">
                        <p><span class="font-weight-bold">Species:</span> {{petData.category.category_name}}</p>
                        <p><span class="font-weight-bold">Breed:</span> {{petData.breed}}</p>
                        <p><span class="font-weight-bold">Adoption Centre:</span> Sydney Animal Shelter {{petData.adoption_center.center_name}}</p>
                        <p><span class="font-weight-bold">Address:</span> 22 Smith Street, Campbelltown, 2032, NSW {{petData.adoption_center.address}}</p>
                        <p><span class="font-weight-bold">Age:</span> {{petData.age}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <!-- Set image dimensions to 500x500 pixels -->
                <img src="{{petData.image}}" alt="{{petData.name}}" class="img-fluid border border-primary" style="width: 500px; height: 500px; object-fit: cover;">
            </div>
        </div>
    </div>
</body>