
<body>

  <h1>{{petData.pet_name}}</h1>
  <p>Species: {{petData.category.category_name}}</p>
  <p>Breed: {{petData.breed}}</p>
  <P>Adoption Centre: {{petData.center_name}}</P>
  <p>Age: {{petData.age}}</p>
  <img src="{{petData.image}}" alt="{{petData.name}}" />

</body>

